
body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20240107/pngtree-mountain-and-full-moon-nature-image_15581979.jpg");
}
.title{
    text-align: center;
    color:rgb(210, 210, 210);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
}
.btn{
    border: none;
    color: black;
    padding: 35px 50px;
    cursor: pointer;
    border-radius: 5px;
    width: 45%;
    font-family:monospace;
}
.shadow-effect {
    border: none;
    color: white;
    padding: 35px 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff; /* Color base del botón */
    transition: box-shadow 0.3s ease-in-out; /* Transición suave del efecto de sombra */
  }
  .shadow-effect:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta el desplazamiento y la opacidad de la sombra */
  }

.unique {
    font-weight: bold;
    font-size: 20px;
    color:antiquewhite;
    background-color: rgb(94, 94, 94); 
    border: 2px solid #e7e7e7;} 
.unique:hover { /*cuando se acerca el puntero al boton*/
    color:rgb(68, 68, 68);
    background-color: #ddd; 
    border:rgb(68, 68, 68);
}
